#root * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root .arrow-nav {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

#root .arrow-nav.pos-change {
  -webkit-animation: posChange 0.6s ease-out 1 forwards;
          animation: posChange 0.6s ease-out 1 forwards;
}

#root .arrow-nav.pos-change-back {
  -webkit-animation: posChangeBack 0.6s ease-out 1 forwards;
          animation: posChangeBack 0.6s ease-out 1 forwards;
}

@-webkit-keyframes posChange {
  from {
    -webkit-transform: translateY(0) rotate(180deg);
            transform: translateY(0) rotate(180deg);
  }
  to {
    -webkit-transform: translateY(45px) rotate(0deg);
            transform: translateY(45px) rotate(0deg);
  }
}

@keyframes posChange {
  from {
    -webkit-transform: translateY(0) rotate(180deg);
            transform: translateY(0) rotate(180deg);
  }
  to {
    -webkit-transform: translateY(45px) rotate(0deg);
            transform: translateY(45px) rotate(0deg);
  }
}

@-webkit-keyframes posChangeBack {
  from {
    -webkit-transform: translateY(45px) rotate(0deg);
            transform: translateY(45px) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(0px) rotate(-180deg);
            transform: translateY(0px) rotate(-180deg);
  }
}

@keyframes posChangeBack {
  from {
    -webkit-transform: translateY(45px) rotate(0deg);
            transform: translateY(45px) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(0px) rotate(-180deg);
            transform: translateY(0px) rotate(-180deg);
  }
}

@-webkit-keyframes floatArrow {
  from {
    bottom: -5px;
  }
  to {
    bottom: 5px;
  }
}

@keyframes floatArrow {
  from {
    bottom: -5px;
  }
  to {
    bottom: 5px;
  }
}

#root .logo-wrapper {
  max-width: 90%;
  width: 1000px;
}

#root .side-nav {
  width: 50px;
}

#root .closed {
  display: none;
}

#root .me-icon {
  font-size: 30px;
  color: #c8a20f;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

#root .social-icons {
  margin-left: 1px;
}

#root .social-btn {
  bottom: -35px;
  color: #c8a20f;
  font-size: 34px;
}

#root .social-btn.cl-9 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

#root .social-btn.cl-8 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

#root .social-btn.cl-7 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

#root .social-btn.cl-6 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

#root .social-btn.cl-5 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

#root .social-btn.cl-4 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

#root .social-btn.cl-3 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.49s;
          transition-delay: 0.49s;
}

#root .social-btn.cl-2 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.56s;
          transition-delay: 0.56s;
}

#root .social-btn.cl-1 {
  position: relative;
  -webkit-transition: opacity 0.7s, bottom 0.4s;
  transition: opacity 0.7s, bottom 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), linear;
  -webkit-transition-delay: 0.63s;
          transition-delay: 0.63s;
}

#root .social-btn.cl-9 > svg {
  width: 57%;
}

#root .hidden {
  opacity: 0;
  bottom: 0px;
  pointer-events: none;
}

#root .player-container {
  width: 100%;
  height: 100vh;
}

#root .player-container .player-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  margin: 22% auto;
}

@media only screen and (max-width: 800px) {
  #root .player-container .player-wrapper > div {
    min-width: 100%;
  }
}

#root .player-container .player-wrapper > div {
  width: 50%;
  height: 450px;
}

#root .player-container .player-wrapper .artwork {
  position: relative;
}

#root .player-container .player-wrapper .artwork .cover {
  position: absolute;
  background-image: url("images/covers/cover1.jpg");
  top: 125px;
  left: 280px;
  width: 250px;
  height: 250px;
  background-size: cover;
}

#root .player-container .player-wrapper .artwork .cover .play-button {
  position: absolute;
  top: -10px;
  bottom: 0;
  right: -40px;
  margin: auto;
  background-image: url("images/icons/play-button.svg");
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: content;
}

#root .player-container .player-wrapper .artwork .cover .platform-btns {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -110px;
  margin: auto;
  width: 50px;
  height: 150px;
}

#root .player-container .player-wrapper .artwork .cover .platform-btns .social-btn {
  pointer-events: auto;
}

#root .player-container .player-wrapper .songlist {
  margin-top: 16px;
  padding-right: 150px;
}

#root .player-container .player-wrapper .songlist .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#root .player-container .player-wrapper .songlist .swiper-slide {
  text-align: center;
  font-size: 20px;
  background: transparent;
  color: #fff;
  opacity: 0.25;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#root .player-container .player-wrapper .songlist .swiper-slide-active {
  font-size: 55px;
  opacity: 1;
}

#root .player-container .player-wrapper .songlist .swiper-slide-next, #root .player-container .player-wrapper .songlist .swiper-slide-prev {
  font-size: 35px;
  opacity: 0.55;
}
/*# sourceMappingURL=style-scss.css.map */